{
  "Actions": [
    {
      "Name": "moveForward",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "moveBackward",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "moveLeft",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "moveRight",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "look",
      "GroupName": "camera",
      "Title": null,
      "KeyboardCode": "mouse",
      "GamepadCode": "None"
    },
    {
      "Name": "run",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "None"
    },
    {
      "Name": "slowMove",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "ALT",
      "GamepadCode": "None"
    },
    {
      "Name": "crouch",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "ctrl",
      "GamepadCode": "None"
    },
    {
      "Name": "jump",
      "GroupName": "movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "None"
    },
    {
      "Name": "interact",
      "GroupName": "interaction",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "None"
    },
    {
      "Name": "useItem",
      "GroupName": "items",
      "Title": null,
      "KeyboardCode": "mouse1",
      "GamepadCode": "None"
    },
    {
      "Name": "throwItem",
      "GroupName": "items",
      "Title": null,
      "KeyboardCode": "mouse2",
      "GamepadCode": "None"
    },
    {
      "Name": "inventory",
      "GroupName": "ui",
      "Title": null,
      "KeyboardCode": "tab",
      "GamepadCode": "None"
    },
    {
      "Name": "objectives",
      "GroupName": "ui",
      "Title": null,
      "KeyboardCode": "j",
      "GamepadCode": "None"
    },
    {
      "Name": "map",
      "GroupName": "ui",
      "Title": null,
      "KeyboardCode": "m",
      "GamepadCode": "None"
    },
    {
      "Name": "help",
      "GroupName": "ui",
      "Title": null,
      "KeyboardCode": "f1",
      "GamepadCode": "None"
    },
    {
      "Name": "pause",
      "GroupName": "ui",
      "Title": null,
      "KeyboardCode": "escape",
      "GamepadCode": "None"
    }
  ],
  "__guid": "ee00007d-d22f-4463-8fd4-a5d3d77e9027",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}